[Unit]
Description=MeshCore Coverage Bot (MQTT)

[Service]
WorkingDirectory=/home/username/wardrive
ExecStart=/home/username/wardrive/bin/python3 -u /home/username/wardrive/wardrive-mqtt.py
Environment="PYTHONUNBUFFERED=1"
Environment="PATH=/home/username/wardrive/bin:/usr/local/bin:/usr/bin"
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
User=root
Group=root

[Install]
WantedBy=multi-user.target