[Unit]
Description=MeshCore Coverage Maintenance

[Service]
Type=oneshot
WorkingDirectory=/home/username/wardrive
ExecStart=/home/username/wardrive/bin/python3 -u /home/username/wardrive/wardrive-maint.py
Environment="PYTHONUNBUFFERED=1"
Environment="PATH=/home/username/wardrive/bin:/usr/local/bin:/usr/bin"
StandardOutput=journal
StandardError=journal
User=root
Group=root
